repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--filter-files", "--line-length=79"]
        files: \.py$
        language: python
        exclude: ^.*(response_example).*$

  - repo: https://github.com/ambv/black
    rev: 22.6.0
    hooks:
      - id: black
        args: ["--line-length=79"]
        language_version: python3.10
        exclude: ^.*(response_example).*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.971"
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
